/* styling for the header sections */
header {
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: black;
    margin: 10px;
}

/* styling for my img */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 8px;
    object-fit: contain;
}

/* styling for my about me section */
#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#aside-1 {
    margin: 2.5%;
}

/* styling for work section */
#work {
    display: flex;
    flex-direction: column;
}

/* styling for contact me section */
#contact-me {
    display: flex;
    flex-direction: column;
}