/* styling for the element sections */
header {
    color: rgb(233, 211, 19);
    background-color: rgb(11, 11, 70);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: rgb(233, 211, 19);
    margin: 10px;
}

footer {
    color: rgb(233, 211, 19);
    background-color: rgb(11, 11, 70);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* styling for my images */
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 8px;
    object-fit: contain;
}

.port-pics {
    width: 450px;
}

.placeholder {
    width: 300px;
}

/* styling for my about me section */
#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#aside-1 {
    margin: 2.5%;
}

/* styling for work section */
#work {
    display: flex;
}

/* styling for contact me section */
#contact-me {
    display: flex;
}

/* styling for text coloring */
.yellow {
    color: rgb(233, 211, 19);
}

.pink {
    color: rgb(218, 1, 207);
}

a {
    text-decoration: none;
}

/* Media Queiries */
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}