/* styling for the css sections */

header {
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: black;
    margin: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 8px;
    object-fit: contain;
}

#about-me {
    display: flex;
    flex-direction: row;
}

#aside-1 {
    margin: 5%;
}